::ng-deep .p-paginator {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
} 

@media only screen and (max-width: 600px) {
    ::ng-deep .p-datatable {
        // top: 20px;
        margin-bottom: 200px;
    }
  }
  @media only screen and (min-width: 600px) {
    ::ng-deep .p-datatable {
        // top: 20px;
        margin-bottom: 100px;
    }
  }
  .header_caption{

    flex-direction: row;
    gap: 200px;
    justify-content: space-between;


}

.caption_title{
    display:  flex;
    flex-direction: column;
    gap: 200px;
  }
