.form-page{
    background-image: url('/../../../assets/dashboard-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__input {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

